body {
  position: relative;
  background-image: url("../images/fantasy-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#topBanner {
  font-size: 50px;
  text-align: center;
  color: lightgrey;
  font-family: fantasy;
}

.container {
  float: left;
  position: relative;
  left: 5%;
}

.instructions {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 10px;
}

.crystal {
  height: 200px;
  margin: 20px;
}
.crystal:hover {
  cursor: pointer;
}

#crSum  {
  font-size: 40px;
  color: white;
  background-color: darkslategray;
  padding: 20px;
}

#wins, #losses {
  font-size: 20px;
  color: white;
  padding: 20px;
}
#wizNumber {
  font-size: 40px;
  color: white;
  float: right;
  background-color: darkslategray;
  padding: 20px;
  position: absolute;
  right: 20%;
  top: 450%;
}
