body {
  position: relative;
  background-image: url("../images/fantasy-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.crystal {
  height: 200px;
  padding: 20px;
}
.crystal:hover {
  cursor: pointer;
}
